extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic Express website.

  h1 Dynamic Content 

  p The library has the following  record counts: 

  ul 
    li #[strong Books:] !{book_count}
    li #[strong Copies:] !{book_instance_count}
    li #[strong Copies Available:] !{book_instance_available_count}
    li #[strong Authors:] !{author_count}
    li #[strong Genres:] !{genre_count}

  if(!isLoggedIn)
    hr 
    a(href="/users/login") Login
    span  / 
    a(href="/users/register") Sign Up
  else if(isLoggedIn)
    hr 
    a(href="/users/logout") Logout
